---
---
@charset "utf-8";

/*  Gutenberg Typography Styles
 *  http://matejlatin.github.io/Gutenberg/
 *
 *  Copyright Matej Latin http://matejlatin.co.uk/
 *  Licenced under Creative Commons Share-Alike 3.0
 *  https://creativecommons.org/licenses/by-sa/3.0/
 */
@import 'gutenberg/src/style/gutenberg-reset';
@import 'gutenberg/src/style/gutenberg-mixins';
@import 'gutenberg/src/style/gutenberg-config';
@import 'gutenberg/src/style/gutenberg-typography';
@import 'gutenberg/src/style/gutenberg-style';


 /* End of Gutenberg Typography */
 @import 'colors';
 @import 'mixins';
 @import 'subscription-panel';
 @import 'typography';


*
{
  box-sizing: border-box;
}

body
{
  margin: 0;

  /* Background pattern from subtlepatterns.com */
  background: url(/resources/images/coffee-stain.png), url(/resources/images/tileable_wood_texture.png);
  background-repeat: no-repeat, repeat;
  background-position: top -50px right -50px, top left;
  background-size: 300px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

    .main
    {
      display: flex;
      flex-direction: column;
      justify-content: center;

      box-sizing: content-box;

      @include margin(1,1);
      @include padding(1,1);

      border: 2px solid $black;
      box-shadow: 0.5rem 0.5rem fade-out($black, 0.8);

      /* Background pattern from subtlepatterns.com */
      background-image: url(/resources/images/paper_fibers.png);

      .logo
      {
        height: 200px;
        width: auto;
      }

      .mainmenu
      {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;

        margin-bottom: 0;
        list-style: none;

        text-transform: capitalize;

        a, a:link, a:visited, a:hover, a:active
        {
          text-decoration: none;
          color: $black;
        }

        li {
          margin-top: .5em;
          margin-bottom: .5em;
          margin-left: 2rem;
          margin-right: 0;

          &:first-child
          {
            margin-left: 0;
          }

          &:last-child
          {
            flex-grow: 20;
          }

          form {
            display: flex;

            * {
              border: 2px solid $black;
            }
            input[type=search] {
              border-right: none;
              flex-grow: 20;
            }
            input[type=submit] {
              border-left: none;
              background-color: $black;
              color: $white;
            }
          }
        }
      }
    }


    .frame
    {
      display: flex;
      //min-height: auto;
      width: 100%;
      @include margin-top(-1);
    }

    .content
    {
      width: 100%;
      @include margin-bottom(0);

      article
      {
        width: 100%;
      }

      .pagination
      {
        display: flex;
        flex-direction: column;
        align-content: center;

        &, *
        {
          @include margin-bottom(0);
        }

        p
        {
          width: 100%;
          text-align: center;
          border-bottom: 1px solid $black;
          @include margin-bottom(0.5);
        }

        >ol
        {
          width: 100%;

          >li
          {
            margin-left: 0;
            margin-right: 0;

            &:first-child
            {
              margin-left: auto;
            }

            &:last-child
            {
              margin-right: auto;
            }
          }
        }

        ol
        {
          display: flex;
          list-style: none;
          padding: 0;

          li
          {
            padding-left: 1rem;
            padding-right: 1rem;

            &.active
            {
              font-weight: bold;
            }

            //Put ellipses after the first item, and before the last
            //if the list has been truncated
            &.abbreviated:first-child::after, &.abbreviated:last-child::before
            {
              content: '...';
            }
          }
        }
      }
    }

    .sidebar
    {
      min-width: 320px;
      max-width: 320px;
      box-sizing: content-box;

      @include margin(2,0,0,1);

      .featuredStories
      {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;

        align-items: flex-start;
        justify-content: flex-start;

        li
        {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;

          svg
          {
            height: 3rem;
            width: auto;
          }
        }
      }
    }

    .youtube
    {
      width: 100%;
      height: 361px;
    }

    .footer
    {
      @include margin-bottom(0);
      display: flex;
      width: 100%;

      *
      {
        margin-left: auto;
        margin-right: auto;
        @include margin-bottom(0);

        &:first-child
        {
          margin-left: 0;
        }

        &:last-child
        {
          margin-right: 0;
        }
      }

      ul
      {
        display: flex;
        list-style: none;

        li
        {
          margin-left: 1rem;
        }
      }
    }
}
