<div class="author-card">
  <h3>
    <a
      href="{{ include.author.url }}"
      {% if include.author.isAuthor %}
        rel="author"
      {% endif %}
      >
      {{include.author.name}}
    </a>
  </h3>
  <ul class="author-contacts">
    <li><a href="maito:{{include.author.email}}">✉{{ include.author.email }}</a></li>
    <li><a href="https://twitter.com/{{include.author.twitter}}">🐦{{include.author.twitter}}</a></li>
  </ul>
  <img
    class="author-image"
    src="{{include.author.picture-root}}{{include.author.picture}}"
    />
  {{ include.author.content }}
</div>
