{% assign Parties = site.data.Parties %}

<div class="parties">
  <a href="{{Parties.path}}">
    <h1>Our Parties</h1>
  </a>
  <ul>
    {% for party in Parties.parties %}
      {% capture svg %}{{Parties.iconPath}}{{party.icon}}{% endcapture %}
      <li>
        <a href="{{Parties.path}}{{party.slug}}">
          {% include {{svg}} %}
          {% if party.iconCredit %}<!-- Icon Credit: {{party.iconCredit}} Licenced under CC-BY http://creativecommons.org/licenses/by/3.0/ -->{% endif %}
          <span>
            {{party.name}}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
