/* Header styles */
h1, h2, h3, h4, h5, h6
{
  text-transform: capitalize;
  text-align: center;

  @include margin-top(0.5);
}

h1, h2
{
  border-bottom: 1px solid #000000;
  @include margin-bottom(0.5);
}

h3, h4, h5, h6
{
  @include margin-bottom(0);
}

h1:first-child,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6
{
  @include margin-top(0);
}

h1
{
  a
  {
    &:link, &:visited, &:hover, &:active
    {
      color: $black;
      text-decoration: none;
    }
  }
}

/* Other Styles */

.mainmenu
{
  font-family: $font-headings;
  @include font-size(map-get($modular-scale,xs));
}

p
{
  text-indent: 1rem;
}

.pagination
{
  p
  {
    @include font-size(map-get($modular-scale, m));
    font-family: $font-headings;
  }
}

.party
{
  h3
  {
    text-align: left;
  }
}

.parties
{
  h1
  {
    border-bottom: none;
  }
  a
  {
    text-decoration: none;
    @include margin-bottom(0);
  }
  span
  {
    @include font-size(map-get($modular-scale, s));
    font-family: $font-headings;
  }
}
