---
---
@charset "utf-8";


@import 'colors';

/* Hide uneeded sections */
.sidebar, .search, .mainmenu, .endmenu, .youtube, .comments
{
  display: none;
}

/* Resize logo */
.logo
{
  height: 200px;
  width: auto;
  margin: auto;
}

/* On-Page layout */
.main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer
{
  display: flex;
  flex-direction: row;
  width: 100%;

  *
  {
    margin: auto;

    &:first-child
    {
      margin-left: none;
    }

    &:last-child
    {
      margin-right: none;
    }
  }
}
