---
---
// @charset "utf-8";

/*  Gutenberg Typography Styles
 *  http://matejlatin.github.io/Gutenberg/
 *
 *  Copyright Matej Latin http://matejlatin.co.uk/
 *  Licenced under Creative Commons Share-Alike 3.0
 *  https://creativecommons.org/licenses/by-sa/3.0/
 */
@import 'gutenberg/src/style/gutenberg-reset';
@import 'gutenberg/src/style/gutenberg-mixins';
@import 'gutenberg/src/style/gutenberg-config';
@import 'gutenberg/src/style/gutenberg-typography';
@import 'gutenberg/src/style/gutenberg-style';


 /* End of Gutenberg Typography */
 @import 'colors';
 @import 'mixins';
 @import 'subscription-panel';
 @import 'typography';


html
{
  margin: 0;
  padding: 0;
}

body
{
  padding-top: 1rem;
  padding-bottom: 1rem;

  /* Background pattern from subtlepatterns.com */
  background: url(/resources/images/coffee-stain.png), url(/resources/images/tileable_wood_texture.png);
  background-repeat: no-repeat, repeat;
  background-position: top -25px right -25px, top left;
  background-size: 150px;
}
 .main
 {
   width: 90%;
   padding: 1rem;
   border: 1px solid $black;
   margin: auto;
   box-sizing: border-box;
   box-shadow: 0.5rem 0.5rem fade-out($black, 0.8);
   /* Background pattern from subtlepatterns.com */
   background-image: url(/resources/images/paper_fibers.png);

   .search
   {
     width: 100%;
     display: flex;

     * {
       border: 2px solid $black;
     }

     input[type=search]
     {
       border-right: none;
       flex-grow: 20;
     }

     input[type=submit] {
       border-left: none;
       background-color: $black;
       color: $white;
     }
   }

   .logo
   {
     width: 100%;
     height: auto;
   }

   .frame
   {
     article
     {
       &, * {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        box-sizing: border-box;
      }
     }
   }
 }

 .parties
 {
   a
   {
     &:link, &:visited, &:hover, &:active
     {
       color: $black;
     }
   }
   ul
   {
     display: flex;
     flex-direction: column;
     padding: 0;
     list-style: none;

     align-items: flex-start;
     justify-content: flex-start;

     li a
     {
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;

       *
       {
         margin-left: 0;
         margin-right: 0;
         margin-top: auto;
         margin-bottom: auto;
       }

       svg
       {
         height: 3rem;
         width: auto;
       }

       span
       {
         margin-left: 1rem;
         flex-grow: 20;
       }
     }
   }
 }

.endmenu
{
  list-style: none;
  padding-left: 0;
}
