---
---
@charset "utf-8";

/*  Gutenberg Typography Styles
 *  http://matejlatin.github.io/Gutenberg/
 *
 *  Copyright Matej Latin http://matejlatin.co.uk/
 *  Licenced under Creative Commons Share-Alike 3.0
 *  https://creativecommons.org/licenses/by-sa/3.0/
 */
@import 'gutenberg/src/style/gutenberg-reset';
@import 'gutenberg/src/style/gutenberg-mixins';
@import 'gutenberg/src/style/gutenberg-config';
@import 'gutenberg/src/style/gutenberg-typography';
@import 'gutenberg/src/style/gutenberg-style';

@import 'colors';
@import 'typography';

/* Hide uneeded sections */
.sidebar, .search, .mainmenu, .endmenu, .youtube, .comments
{
  display: none;
}

/* Resize logo */
.logo
{
  height: 200px;
  width: auto;
  margin: auto;
}

/* On-Page layout */
.main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer
{
  display: flex;
  flex-direction: row;
  width: 100%;

  *
  {
    margin: auto;

    &:first-child
    {
      margin-left: none;
    }

    &:last-child
    {
      margin-right: none;
    }
  }
}
