$headerFont: 'Pacifico', cursive;
$bodyFont: 'News Cycle', 'Century Gothic', sans-serif;

$baseFontSize: 16pt;
$lineHeight: 1.6;
$scaleRoot: (5/4);
$lineDivisions: 2;

$imageFolder: "/resources/images/";
