<div class="-subscription-panel-form">
  <div class="-subscription-panel-form-image">
    <img src="{{site.data.SubscriptionServices.ImageLocation}}/{{include.variable-param.icon}}" />
  </div>
  <div class="-subscription-panel-form-form">
    <span>{{include.variable-param.call}}</span>
    <span>{{include.variable-param.preposition}} {{include.variable-param.name}}</span>
    <form style="margin-top: .5em;">
      <input type="text" /><button type="submit" >&gt;</button>
    </form>
  </div>
</div>
