{% assign Subscriptions = site.data.SubscriptionServices %}
<div class="-subscription-panel">
  {% for service in Subscriptions.Services %}
    {% if service.action %}
      <a href="{{service.action}}">
    {% endif %}
    <div
      class="-subscription-panel-main"
      id="-subscription-panel-main-{{service.id}}"
      style="background: {{service.color}};" >
      {% capture contents %}/{{Subscriptions.ContentLocation}}/{{service.contents}}{% endcapture %}
      {% include {{contents}} variable-param=service %}
    </div>
    {% if service.action %}
      </a>
    {% endif %}
  {% endfor %}
  {% capture numSubs %}{{Subscriptions.Services | size}}{% endcapture %}
  {% assign height = 330|divided_by: numSubs %}
  <div
    class="-subscription-panel-secondary"
    style="height: {{height}}px;"
    >
    {% for service in Subscriptions.Services %}
      <div
        class="subscription-panel-secondary-item"
        id="subscription-panel-secondary-item-{{service.id}}"
        style="background-color: {{service.color}}; order: {{service.order}}"
        >
        {% capture icon %}/{{site.data.SubscriptionServices.ImageLocation}}/{{service.icon}}{% endcapture %}
        {% include {{icon}} %}
      </div>
    {% endfor %}
  </div>
</div>
