/* Hide uneeded sections */
.sidebar, .search, .main-menu, .end-menu, .youtube, .comments, .author-card
{
  display: none;
}

/* Resize logo */
.logo
{
  height: line-measure(3);
  width: auto;

  position: absolute;
  top: 0;
  left: 0;
}

/* On-Page layout */
.main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer
{
  display: flex;
  flex-direction: row;
  width: 100%;

  *
  {
    margin: auto;

    &:first-child
    {
      margin-left: none;
    }

    &:last-child
    {
      margin-right: none;
    }
  }
}

.recipe
{
  page-break-before: always;
  margin: 0;
  padding: 0;
  border: none;
}
