body
{
  background-color: hsla(24,79%,71%,1);

  /* Background pattern from subtlepatterns.com */
  background-image:
    url("#{$imageFolder}coffee-stain.png"),
    url("#{$imageFolder}tileable_wood_texture.png");

  background-repeat:
    no-repeat,
    repeat;

  background-position:
    top -2.5rem right -2.5rem,
    top left;

  background-size:
    20rem,
    400px 317px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frame
{
  width: calc(100% - 4rem);
  max-width: 90rem;

  margin: line-measure(2);
  padding: line-measure(1);

  background-color: $white;
  /* Background pattern from subtlepatterns.com */
  background-image: url("#{$imageFolder}paper_fibers.png");

  border: $black 3px solid;
  box-shadow: 0.5rem 0.5rem transparentize($grey2, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.search
{
  display: flex;
  height: line-measure(2);
  width: 100%;
  max-width: 30rem;

  > *
  {
    border: 3px solid $black;
    height: 100%;
  }

  [type="search"]
  {
    width: calc(100% - 3.2rem);
  }

  [type="submit"]
  {
    background-color: $black;
    color: $white;
    width: 3.2rem;
  }
}

.logo
{
  height: auto;
  width: 100%;
  max-width: 30rem;
}

.main-menu
{
  width: 100%;

  > ul
  {
    width: 100%;
    display: flex;

    a:link, a:visited, a:hover, a:active
    {
      font-weight: normal;
      text-decoration: none;
    }
  }
}

main
{
    width: 100%;
}

.content
{
  width: 100%;
}

.author-card
{
  clear:left;
  margin-top: line-measure(1);
  margin-bottom: line-measure(1);
  > *:first-child
  {
    border-bottom: 1px solid $black;
  }
}

.author-contacts
{
  display: flex;
}

.author-image
{
  width: auto;
  float: left;
  height: line-measure(8);
  margin-right: line-measure(1);
}

.sidebar
{
  .party-list
  {
    @include font-modular-scale(2);
    font-family: $headerFont;

    a:link, a:visited a:hover, a:active
    {
      text-decoration: none;
    }

    li
    {
      margin-top: line-measure(0.5);

      &:first-child
      {
        margin-top: 0;
      }
    }

  }
}

.party-list
{
  object
  {
    height: line-measure(2);
  }
}

.footer
{
  width: 100%;
  display: flex;
  align-items: stretch;
  margin-top: line-measure(1);

  > *
  {
    flex-grow: 1;
  }
}

.end-menu > ul
{
  display: flex;
  align-items: stretch;

  > *
  {
    flex-grow: 1;
  }
}
