---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="frame">
      <form
        class="search"
        action="/search"
        >
          <input type="search" placeholder="Search" name="q" id="tipue_search_input" autocomplete="off" required="true" />
          <input type="submit" value="&#128269;" />
      </form>
      <div id="tipue_drop_content"></div>
      <a href="/">
        {% include SVG/logo.svg %}
      </a>
      {% include menu.html menu=site.data.Menu.Main %}

      <div class="content">
        <main>
          {{ content }}
          {% include comments.html %}
        </main>
        <div class="sidebar">
          {% include sidebar.html %}
        </div>
      </div>
      <div class="footer">
        <span class="copyright">Copyright Evan and Emma Williams 2016.</span>
        <a href="https://williams.ee">https://williams.ee</a>
        {% include menu.html menu=site.data.Menu.Footer %}
      </div>

      <script>
        $(document).ready(function() {
             $('#tipue_search_input').tipuedrop();
        });
      </script>
  </body>
</html>
