---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="main">
      <form class="search"><input type="search" value="Search" /><input type="submit" value="&#128269;" /></form>
      <a href="/">
        {% include SVG/logo.svg %}
      </a>
      {% include menu.html variable-param=site.data.Menu.Main %}

      <div class="frame">
        <div class="content">
          {{ content }}

          {% if page.comments %}
            {% include comments.html %}
          {% endif %}
        </div>
        <div class="sidebar">
          {% include sidebar.html %}
        </div>
      </div>
      <div class="footer">
        <span class="copyright">Copyright Evan and Emma Williams 2016.</span>
        <a href="https://williams.ee">https://williams.ee</a>
        {% include menu.html variable-param=site.data.Menu.Footer %}
      </div>
  </body>
</html>
