---
layout: default
---

{% comment %}
  Fetch the author if they exist

  This is done here because it's needed several times across the template
{% endcomment %}
{% if page.author %}
  {% assign author = site.authors | where: "title", page.author | first %}
{% endif %}

<article
  class="post"
  itemscope
  itemtype="{{page.seo-type}}"
  >
  <header class="post-header">
    {% if page.title %}
      <h1 class="post-title">{{ page.title}}</h1>
    {% endif %}
    <div class="post-meta">
      {% if page.date %}
        <time
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished">
            {{ page.date | date: "%b %-d, %Y" }}
        </time>
      {% endif %}
      {% if author %}
        <span
          itemprop="author"
          itemscope
          itemtype="http://schema.org/Person"
          >
          <span
            itemprop="name"
            >
            {{author.name}}
          </span>
        </span>
      {% endif %}
    </div>
  </header>

  <div
    class="post-content"
    itemprop="articleBody"
    >
    {{ content }}
  </div>

  <footer>
    {% if author %}
      <address>
        {% include author-card.html author=author isAuthor="true" %}
      </address>
    {% endif %}
  </footer>
</article>
