---
  layout: page
---
{% assign requirements = site.data.Dietry-Requirements.dietry-requirements %}

<aside>
  {{ content }}
</aside>
<section
  itemscope
  itemtype="https://schema.org/Recipe"
  >
  <h2>Recipe</h2>
  <section class="recipe-information">
    <h3>Information</h3>
    <span
      class="recipe-yield"
      itemprop="recipeYield"
      >
      <strong>Serves:</strong>
      {{ page.recipe.yield }}
    </span>
    <section class="recipe-dietry-requirements">
      <h4>Dietry Requirements</h4>

      {% comment %}
        Build a list of dangers in the recipe
      {% endcomment %}
      {% assign restrictions = "" | split: "" %}

      {% for ingredient in page.recipe.ingredients %}
        {% assign ingredient-detail = site.data.Ingredients[ingredient.item] %}
        {% if ingredient-detail.dietry-requirements %}
          {% for restriction in ingredient-detail.dietry-requirements %}
            {% assign restrictions = restrictions | push: restriction %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      {% assign restrictions = restrictions | uniq %}

      {% comment %}
        Build a list of dietry restrictions that this recipe follows
      {% endcomment %}
      {% assign allowed = "" | split: "" %}

      {% for requirement in requirements %}
      {% assign isSafe = true %}
      {% for restriction in restrictions %}
        {% if requirement[0] == restriction %}
          {% assign isSafe = false %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if isSafe %}
        {% assign allowed = allowed | push: requirement[1] %}
      {% endif %}
      {% endfor%}

      {% for requirement in allowed %}
        {% include requirement-icon.html requirement=requirement class="recipe-safe-icon" %}
      {% endfor %}
    </section>
    <section class="recipe-cook-time">
      <h4>Cook Time</h4>
      <ul>
        <li>
          {% assign totalTime = page.recipe.time.prep | plus: page.recipe.time.cook %}
          <strong>Total Cook Time:</strong>
          <meta
            itemprop="totalTime"
            content="PT{{totalTime}}M"
            />
            {{ totalTime }} Minutes
        </li>
        <li>
          <strong>Preperation Time:</strong>
          <meta
            itemprop="prepTime"
            content="PT{{page.recipe.time.prep}}M"
          />
          {{ page.recipe.time.prep }} Minutes
        </li>
        <li>
          <strong>Cooking Time:</strong>
          <meta
            itemprop="cookTime"
            content="PT{{page.recipe.time.cook}}"
          />
          {{ page.recipe.time.cook }} Minutes
        </li>
      </ul>
    </section>

  </section>
  <section>
    <h3>Ingredients</h3>
    <ul class="recipe-ingredients">
      {% for ingredient in page.recipe.ingredients %}
        {% assign ingredient-detail = site.data.Ingredients[ingredient.item] %}
        <li
          itemprop="recipeIngredient"
          >
          <span class="recipe-ingredient-item">{{ ingredient.item }}</span>
          <span class="recipe-ingredient-quantity">{{ ingredient.quantity }}</span>
          {% if ingredient-detail.measurement %}
            {% assign measurement = ingredient-detail.measurement %}
            <span class="recipe-ingredient-measurement">{{ site.data.Measurements[measurement].symbol }}</span>
          {% endif %}
          {% if ingredient-detail.dietry-requirements %}
            <ul class="recipe-ingredient-dangers">
              {% for requirement in ingredient-detail.dietry-requirements %}
                <li>
                  {% assign requirement-detail = requirements[requirement] %}
                  {% include requirement-icon.html requirement=requirement-detail class="recipe-danger-icon" %}
                </li>
              {% endfor %}
            </ul>
            <ul class="recipe-ingredient-substitutions">
              {% for substitution in ingredient-detail.replacements %}
                <li>
                  <h4>{{substitution.item}}</h4>
                  {{substitution.comment}}
                  <div class="recipe-ingredient-substitution-detail">
                    <strong>Proportion:</strong>
                    {{substitution.proportion}}
                  </div>
                  <div class="recipe-ingredient-substitution-detail">
                    <strong>Suitable for:</strong>
                    <ul class="recipe-ingredient-substitution-suitability">
                      {% for item in substitution.suitable-for %}
                        <li>
                          {{item}}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h3>Method</h3>
    <ol
      class="recipe-method"
      itemprop="recipeInstructions"
      >
      {% for step in page.recipe.method %}
        <li>
          {{ step.text | markdownify }}
          {% if step.extra %}
            <span class="extra">
              {{ step.extra | markdownify }}
            </span>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </section>
</section>
